<md-toolbar color="primary">
  <span>App Title [Environment: {{environmentName}} ] </span>
  <span class="spacer"></span>

  <span>
    <md-menu #appMenu="mdMenu" yPosition="above">
      <button md-menu-item>
        <i class="material-icons md-light">dialpad</i>
        <span> Redial </span>
      </button>
      <button md-menu-item disabled>
        <i class="material-icons md-light">voicemail </i>
        <span> Check voicemail </span>
      </button>
      <button md-menu-item>
        <i class="material-icons md-light">notifications_off </i>
        <span> Disable alerts </span>
      </button>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <i class="material-icons md-light">more_vert</i>
    </button>
  </span>
</md-toolbar>

